
*{
    margin: 0;
    padding: 0;
}
#nav{
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: aqua;
}
nav a{
    margin: 20px;
    padding:5px;
    text-decoration: none;
}

nav img{
    height: 20px;
}

.container{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    background-color: bisque;
    display: flex;
}

.box{
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    flex-grow: 0;
}

#box2{
    flex-grow: 1;
}

@media screen and (max-width: 300px){
    #box2{
        background-color: green;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px){
    #box2{
        background-color: red;
    }
}

@media screen and (min-width: 400px){
    #box2{
        background-color: blue;
    }
}